<!DOCTYPE html>
<html>
<head></head>
<body>
	<wicket:extend>
		<div>
			<span wicket:id="searchTypeLabel"></span> 
			<select wicket:id="searchType"></select> 
			<span wicket:id="searchTextLabel"></span>
			<input wicket:id="searchText" type="text" size="20" /> 
			<a wicket:id="show" href="#">Show</a> 
			<span wicket:id="popupWindow"></span>
		</div>
		<div>
			<span wicket:id="dataTableModelPanel"></span>
		</div>
		<!-- div id="content" class="content">
			<wicket:child />
		</div-->
	</wicket:extend>
</body>
</html>